# .gitignore

# API Keys - WAJIB diabaikan!
.env

# Log files
logs/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Dokumen PDF (opsional, tergantung ukuran)
data/documents/

model_check.py
sync_documents.py
test_loader.py